/* Grid layout for the form */
form {
    display: grid;
    grid-HomeFinderlate-columns: repeat(2, 1fr); /* Two equal-width columns */
    grid-gap: 20px; /* Space between rows and columns */
}

/* Remove flexbox from .form-row */
.form-row {
    margin-bottom: 15px;
}

/* Style for labels and inputs */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%; /* Make inputs take up the full width */
}

input[type="submit"] {
    background-color: purple;
    width: 180px;
    display: block;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: indigo;
}
