@model QuerySearchViewModel

@if(Model!=null)
{
    if (Model.Houses != null)
    {
        <div>
                @foreach (var house in Model.Houses)
                {
                    <div class="card">
                        <a href=@house.Url>
                            <img float src=@house.ImageUrl alt="Avatar" style="width:100%">
                        </a>
                    <div class="container">
                        <p><strong>Address: </strong>@house.Address</p>
                        <p><strong>Price: </strong>@house.Price</p>
                        <p><strong>Floor: </strong>@house.Level</p>
                    </div>
                    </div>
                }
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-75">
            <div class="container">
                <form method="post" asp-controller="Home" asp-action="Search">
                    <div class="row">
                        <div class="col-50">
                            <div>
                                <label asp-for="QueryField.MinPrice" class="form-label"></label>
                                <input asp-for="QueryField.MinPrice" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="QueryField.MaxPrice" class="form-label"></label>
                                <input asp-for="QueryField.MaxPrice" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="QueryField.MinSize" class="form-label"></label>
                                <input asp-for="QueryField.MinSize" class="form-control" />
                            </div>
                            <div>
                                <label asp-for="QueryField.MaxSize" class="form-label"></label>
                                <input asp-for="QueryField.MaxSize" class="form-control" />
                            </div>
                            <div class="row">
                                <div class="col-50">
                                    <div>
                                        <label asp-for="QueryField.MinConstruction_year" class="form-label"></label>
                                        <input asp-for="QueryField.MinConstruction_year" class="form-control" />
                                    </div>
                                    <div>
                                        <label asp-for="QueryField.MaxConstruction_year" class="form-label"></label>
                                        <input asp-for="QueryField.MaxConstruction_year" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-50">
                                    <div>
                                        <label asp-for="QueryField.MinPricePerUnitArea" class="form-label"></label>
                                        <input asp-for="QueryField.MinPricePerUnitArea" class="form-control" />
                                    </div>
                                    <div>
                                        <label asp-for="QueryField.MaxPricePerUnitArea" class="form-label"></label>
                                        <input asp-for="QueryField.MaxPricePerUnitArea" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="row">
                                <div class="col-50">
                                    <div>
                                        <label asp-for="QueryField.MinLevel" class="form-label"></label>
                                        <select asp-for="QueryField.MinLevel" asp-items="Data.Level">
                                        </select>
                                    </div>
                                    <div>
                                        <label asp-for="QueryField.MaxLevel" class="form-label"></label>
                                        <select asp-for="QueryField.MaxLevel" asp-items="Data.Level">
                                        </select>
                                    </div>
                                    <div>
                                        <label asp-for="QueryField.MinBedrooms" class="form-label"></label>
                                        <select asp-for="QueryField.MinBedrooms" asp-items="Data.Bedroom">
                                        </select>
                                    </div>
                                    <div>
                                        <label asp-for="QueryField.MaxBedrooms" class="form-label"></label>
                                        <select asp-for="QueryField.MaxBedrooms" asp-items="Data.Bedroom">
                                        </select>
                                    </div>
                                    <div>
                                        <label asp-for="QueryField.MinBathrooms" class="form-label"></label>
                                        <select asp-for="QueryField.MinBathrooms" asp-items="Data.Bathroom">
                                        </select>
                                    </div>
                                    <div>
                                        <label asp-for="QueryField.MaxBathrooms" class="form-label"></label>
                                        <select asp-for="QueryField.MaxBathrooms" asp-items="Data.Bathroom">
                                        </select>
                                    </div>
                                    <div>
                                        <label asp-for="QueryField.MinEnergyClass" class="form-label"></label>
                                        <select asp-for="QueryField.MinEnergyClass" asp-items="Data.EnergyClass">
                                        </select>
                                    </div>
                                    <div>
                                        <label asp-for="QueryField.MaxEnergyClass" class="form-label"></label>
                                        <select asp-for="QueryField.MaxEnergyClass" asp-items="Data.EnergyClass">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Search" class="btn" />
                </form>
            </div>
        </div>
    </div>
}
