<!DOCTYPE html >
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
        <div class="header">
            <h2>Welcome</h2>
            <p>Lets find you a home!!!.</p>
        </div>
        <div id="navbar">
            <a class="active" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Search">Search</a>
            <a asp-controller="Home" asp-action="Index">Contact</a>
        </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
