<!DOCTYPE html >

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    Home
                </a>
            </div>
            <div>
                <a class="navbar-brand" asp-controller="Home" asp-action="Search">
                    Search
                </a>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
